/* use client */

.container {
  @apply min-h-screen;
}

.content {
  @apply pt-4 md:pt-6 p-4 md:p-8;
}

.portfolioContainer {
  @apply flex flex-col items-center justify-center w-full mx-auto;
}

.grid {
  @apply gap-6 p-8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  @apply relative overflow-hidden rounded-xl shadow-xl transition-all duration-300;
}

.card:hover {
  @apply -translate-y-[10px] shadow-2xl;
}

.image {
  @apply w-full h-auto rounded-xl scale-100 transition-transform duration-300 cursor-pointer;
}

.card:hover .image {
  transform: scale(1.1); /* Zoom à 110% */
}

@media (min-width: 1024px) {
  .card:hover .image {
    transform: scale(1.1); /* Zoom uniquement sur desktop */
  }
}

.overlay {
  @apply absolute inset-0 bg-black/60 text-white flex flex-col justify-center items-center opacity-0 transition-opacity duration-300;
}

.card:hover .overlay {
  opacity: 1;
}

.title {
  @apply text-2xl font-bold mb-2;
}

.description {
  @apply text-base text-center;
}

.imageName {
  @apply mt-4 text-center text-sm text-[#666];
}

@media (max-width: 768px) {
  .content {
    padding: 0; /* Supprime le padding horizontal */
  }
}
