.modalOverlay {
  @apply fixed inset-0 bg-black/70 flex items-center justify-center z-50;
}

.modalContent {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.closeButton {
  @apply absolute top-2 right-2 text-white bg-black/50 rounded-full p-2 cursor-pointer;
}

.modalImage {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 90vh;
  border-radius: 0.5rem;
} 