.carouselContainer {
  width: 100%;
}

.image {
    width: 100%; /* L'image prend toute la largeur du slide */
    height: auto; /* Garde le ratio d'aspect */
    display: block; /* Évite les espaces en bas des images */
    border-radius: 15px; /* Ajustez la valeur pour arrondir les bords */
}
